<div class="layout-header">
  <div class="logo" [routerLink]="['/']">Lagoo</div>
  <div class="nav">
    <a class="nav-item m-r-30" [routerLink]="['/events']">Events</a>
    <a class="nav-item m-r-30" [routerLink]="['/projects', 'list']">My Projects</a>
    <a class="nav-item m-r-30" [routerLink]="['/news-feed']">News feed</a>
  </div>
  <a *ngIf="user !== '/auth/login'" class="nav-item login-link" [routerLink]="['/auth', 'login']">Login</a>
  <a *ngIf="user !== '/auth/register'" class="nav-item register-link" [routerLink]="['/auth', 'register']">Register</a>
  <a *ngIf="user !== ''" class="nav-item logout-link" (click)="onLogout()">Logout</a>
</div>
