.external-auth-services {
  padding: 14px 40px;

  .external-auth-service-btn {
    width: 46%;
  }

  .mdi-google {
    color: #ffb700;
    font-size: 20px;
  }

  .mdi-facebook {
    color: #0072ff;
    font-size: 22px;
  }
}
